@import 'src/styles/_variables';
@import 'src/styles/_mixins';

.container {
	@include ContainerApp();
	display: flex;
	flex-direction: column;
	align-items: center;
}

.auth {
	width: 100%;
	height: 100vh;
	background: $color-btn-hover;
	display: flex;
	align-items: center;
	justify-content: center;

	&__title {
		font-weight: 700;
		font-size: 32px;
		line-height: 40px;
		letter-spacing: 0.1px;
		color: $color-white;
	}

}


.form {
	width: 528px;
	height: 492px;
	display: flex;
	flex-direction: column;
	//justify-content: center;
	//align-items: center;

	background: $color-white;
	border-radius: 16px;

	margin-top: 46px;

	padding: 48px 56px;


	&__title {
		width: 100%;
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: 0.1px;
		color: $color-dark;
	}

	&__crumbs {
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 0.1px;
		color: $color-dark;
		margin-top: 8px;
	}

	&__item {
		width: 100%;
	}
}

.button {
	width: 416px;
	height: 52px;

	background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);

	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
	border-radius: 30px;

	margin-top: 32px;
}